<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="#">Home</a></li>
      <li><%= link_to 'Teams', teams_path %></li>
      <li class="active"><%= @team.name %></li>
    </ol>
  </div>
</section>
<section>
  <div class="container">
    <h1>Team "<%= @team.name  %>"</h1>
    <div class="row">
      <% if @team.captain == current_user %>
        <%= link_to edit_team_path(@team), class: 'btn btn-primary pull-right' do %>
          <i class="fa fa-cogs"></i> Edit
        <% end %>

        <%= link_to new_invite_path(@team.id), class: 'btn btn-primary pull-right' do %>
          <i class="fa fa-user-plus"></i> Invite member
        <% end %>

        <%= link_to submit_project_path(@team.project), class: 'btn btn-primary pull-right' do %>
          <i class="fa fa-upload"></i> Submit project
        <% end %>

      <% end %>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= image_tag @team.captain.avatar_url.to_s, class: 'img-responsive', alt: 'Captain avatar' %>
      </div>
      <div class="col-md-10">
        <h4 class="margin-bottom-10"><%= @team.captain.email  %></h4>
        <h6>Captain</h6>
        <% if @team.captain.about_text? %>
          <p><%= @team.captain.about_text %>
        <% end %>
      </div>
    </div>
    <hr />
    <% @team.members.includes(:participations).each_with_index do |member, index| %>
      <div class="row">
        <div class="col-md-2">
          <%= image_tag member.avatar_url.to_s, class: 'img-responsive', alt: 'Team member avatar' %>
        </div>
        <div class="col-md-10">
          <h4 class="margin-bottom-10"><%= member.email  %></h4>
          <h6>Member</h6>
          <% if member.about_text? %>
            <p><%= member.about_text %>
          <% end %>
        </div>
      </div>
      <% if index != @team.members.size - 1%>
        <hr />
      <% end %>
    <% end %>
  </div>
</section>
