<div class="thumbnail text-center">
  <%= image_tag @user.avatar_url.to_s, class: 'img-responsive', alt: 'Avatar' %>
  <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.email %></h2>
  <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">Participant</h3>
</div>

<ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
  <li class="list-group-item <%= action_name == 'profile' ? 'active' : '' %>">
    <%= link_to profile_path(@user) do %>
      <i class="fa fa-eye"></i> Profile
    <% end %>
  </li>
  <li class="list-group-item <%= action_name == 'projects' ? 'active' : '' %>">
    <%= link_to user_projects_path(@user) do %>
      <i class="fa fa-tasks"></i> Projects
    <% end %>
  </li>
  <% if @user == current_user %>
    <li class="list-group-item list-toggle">
      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1"><i class="fa fa-gears"></i> Settings</a>
        <ul id="collapse-1" class="collapse">
            <li class="<%= action_name == 'edit' ? 'active' : '' %>">
              <%= link_to user_settings_path(@user) do %>
                <i class="fa fa-angle-right"></i> General
              <% end %>
            </li>
            <li class="<%= action_name == 'avatar' ? 'active' : '' %>">
              <%= link_to user_avatar_path(@user) do %>
                <i class="fa fa-angle-right"></i> Change avatar
              <% end %>
            </li>
        </ul>
    </li>
  <% end %>
</ul>

<div class="box-light margin-bottom-30">
  <div class="margin-bottom-20 img-responsive text-center">
    <h4>Check-in QR Code</h4>
    <%= image_tag qr_code_url(event_id: 2, user_id: @user.id, format: 'png'), class: 'qr-code' %>
  </div>

  <!-- <div class="row margin-bottom-20">
    <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
      <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
      <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">PROJECTS</h3>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
      <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">5</h2>
      <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">AWARDS</h3>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
      <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
      <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">CHECK-INS</h3>
    </div>
  </div> -->

  <div class="text-muted">
    <h2 class="size-18 text-muted margin-bottom-6"><b>About</b></h2>
    <% if @user.about_text? %>
      <%= @user.about_text %>
    <% else %>
      <% if @user == current_user %>
        Go to <%= link_to 'Settings', user_settings_path(current_user) %> to add a short description of you.
      <% end %>
    <% end %>
    <br />
    <br />
    <ul class="list-unstyled nomargin">
      <% if @user.site_url? %>
        <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href="<%= @user.site_url %>">Personal site</a></li>
      <% end %>
      <% if @user.facebook_url? %>
        <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href="<%= @user.facebook_url %>">Facebook</a></li>
      <% end %>
      <% if @user.twitter_url? %>
        <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href="<%= @user.twitter_url %>">Twitter</a></li>
      <% end %>
      <% if !@user.site_url? && !@user.facebook_url? && !@user.twitter_url %>
        Go to <%= link_to 'Settings', user_settings_path(current_user) %> to add social links.
      <% end %>
    </ul>
  </div>
</div>
