<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="#">Home</a></li>
      <li><a href="#">Profiles</a></li>
      <li class="active"><%= @current_user.email %></li>
    </ol>
  </div>
</section>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<section>
  <div class="container">
    <div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4 margin-bottom-80">
      <ul class="nav nav-tabs nav-top-border">
        <li class="active"><a href="#info" data-toggle="tab">Account</a></li>
        <li><a href="#avatar" data-toggle="tab">Avatar</a></li>
        <li><a href="#password" data-toggle="tab">Password</a></li>
      </ul>
      <div class="tab-content margin-top-20">
        <div class="tab-pane fade in active" id="info">
          <%= form_for resource, as: resource_name,
            url: registration_path(resource_name), html: { method: :put } do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: 'control-label' %><br />
              <%= f.email_field :email, autofocus: true,
                placeholder: @current_user.email, class: 'form-control' %>
            </div>

            <!-- TODO: Add custom user attributes here -->

            <div class="margiv-top10">
              <%= f.button class: 'btn btn-primary', type: 'submit' do %>
                <i class="fa fa-check"></i> Update
              <% end %>
              <%= link_to "Back", :back, class: 'btn btn-default' %>
            </div>
            <hr />
            <p>
              <%= button_to "Cancel my account",
              registration_path(resource_name), class: 'btn btn-danger',
              data: { confirm: "Are you sure?" }, method: :delete %>
            </p>
          <% end %>
        </div>

        <div class="tab-pane fade" id="avatar">
          <form class="clearfix" action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="sky-form nomargin">
                    <label class="label">Select file</label>
                    <label for="file" class="input input-file">
                      <div class="button">
                        <input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value">Browse
                      </div><input type="text" readonly>
                    </label>
                  </div>
                  <a href="#" class="btn btn-danger btn-xs noradius"><i class="fa fa-times"></i> Remove Avatar</a>
                </div>
              </div>
            </div>
            <div class="margiv-top10">
              <a href="#" class="btn btn-primary">Save Changes </a>
              <a href="#" class="btn btn-default">Cancel </a>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="password">
          <%= form_for resource, as: resource_name,
            url: registration_path(resource_name), html: { method: :put } do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :current_password, class: 'control-label' %><br />
              <%= f.password_field :current_password, autocomplete: "off",
                class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'control-label' %><br />
              <%= f.password_field :password, autocomplete: 'off',
                class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: 'control-label'  %><br />
              <%= f.password_field :password_confirmation,
                autocomplete: 'off', class: 'form-control' %>
            </div>

            <div class="margiv-top10">
              <%= f.button class: 'btn btn-primary', type: 'submit' do %>
                <i class="fa fa-check"></i> Update
              <% end %>
              <%= link_to "Back", :back, class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8">
      <div class="thumbnail text-center">
        <img class="img-responsive"
             src="<%= asset_path 'smarty/demo/people/460x700/8-min.jpg' %>"
             alt="" />
        <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @current_user.email %></h2>
        <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">Participant</h3>
      </div>
      <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
        <li class="list-group-item"><a href="page-profile.html"><i class="fa fa-eye"></i> PROFILE</a></li>
        <li class="list-group-item"><a href="page-profile-projects.html"><i class="fa fa-tasks"></i> PARTICIPATIONS</a></li>
        <li class="list-group-item"><a href="page-profile-comments.html"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
        <li class="list-group-item"><a href="page-profile-history.html"><i class="fa fa-history"></i> HISTORY</a></li>
        <li class="list-group-item active"><a href="page-profile-settings.html"><i class="fa fa-gears"></i> SETTINGS</a></li>
      </ul>

      <div class="box-light margin-bottom-30">
        <div class="row margin-bottom-20">
          <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">PARTICIPATIONS</h3>
          </div>

          <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-4 text-center bold">
            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">5</h2>
            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">AWARDS</h3>
          </div>
        </div>

        <div class="text-muted">
          <h2 class="size-18 text-muted margin-bottom-6"><b>About</b></h2>
          <p>I'm a funny one m8.</p>
          <ul class="list-unstyled nomargin">
            <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href="http://www.example.com">www.example.com</a></li>
            <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href="http://www.facebook.com/example">example</a></li>
            <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href="http://www.twitter.com/example">@example</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

