<!--
  PAGE HEADER

  CLASSES:
  .page-header-xs	= 20px margins
  .page-header-md	= 50px margins
  .page-header-lg	= 80px margins
  .page-header-xlg= 130px margins
  .dark			= dark page header

  .shadow-before-1 	= shadow 1 header top
  .shadow-after-1 	= shadow 1 header bottom
  .shadow-before-2 	= shadow 2 header top
  .shadow-after-2 	= shadow 2 header bottom
  .shadow-before-3 	= shadow 3 header top
  .shadow-after-3 	= shadow 3 header bottom
-->

<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="#">Home</a></li>
      <li class="active">Register</li>
    </ol>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <% if devise_error_messages? %>
          <div class="alert alert-mini alert-danger margin-bottom-30">
            <%= devise_error_messages! %>
          </div>
        <% end %>
        <form class="nomargin sky-form boxed" method="post">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <header>
              <i class="fa fa-users"></i> Register
            </header>
            <fieldset class="nomargin">
              <label class="input margin-bottom-10">
                <i class="ico-append fa fa-envelope"></i>
                <%= f.email_field :email, autofocus: true, placeholder: 'Email', required: true %>
                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
              </label>
              <label class="input margin-bottom-10">
                <i class="ico-append fa fa-lock"></i>
                <%= f.password_field :password, autocomplete: 'off',
                  placeholder: 'Password', required: true %>
                <b class="tooltip tooltip-bottom-right">
                  <% if @minimum_password_length %>
                    <%= @minimum_password_length %> characters minimum
                  <% else %>
                    Needed to authenticate you
                  <% end %>
                </b>
              </label>
              <label class="input margin-bottom-10">
                <i class="ico-append fa fa-lock"></i>
                <%= f.password_field :password_confirmation,
                  autocomplete: 'off', placeholder: 'Confirm password', required: true %>
                <b class="tooltip tooltip-bottom-right">
                  <% if @minimum_password_length %>
                    <%= @minimum_password_length %> characters minimum
                  <% else %>
                    Needed to prevent from mistyped password
                  <% end %>
                </b>
              </label>
              <div class="row margin-bottom-10">
                <div class="col-md-6">
                  <label class="input">
                    <%= f.text_field :first_name, placeholder: 'First name', required: true %>
                  </label>
                </div>
                <div class="col col-md-6">
                  <label class="input">
                    <%= f.text_field :last_name, placeholder: 'Last name', required: true %>
                  </label>
                </div>
              </div>
              <label class="select margin-bottom-10 margin-top-20">
                <%= f.collection_select :gender_id, Gender.all, :id, :value %>
              </label>
            </fieldset>
            <div class="row margin-bottom-20">
              <div class="col-md-12">
                <%= f.button class: 'btn btn-primary', type: 'submit' do %>
                  <i class="fa fa-check"></i> REGISTER
                <% end %>
              </div>
            </div>
            <% if @token != nil %>
              <%= hidden_field_tag :invite_token, @token %>
            <% end %>
          <% end %>
      </div>

      <div class="col-md-6 col-sm-6">
        <form action="#" method="post" class="sky-form boxed">
          <header class="size-18 margin-bottom-20">
            Register using your favourite social network
          </header>
          <fieldset class="nomargin">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <a class="btn btn-block btn-social btn-facebook margin-bottom-10">
                  <i class="fa fa-facebook"></i> Sign up with Facebook
                </a>
                <a class="btn btn-block btn-social btn-twitter margin-bottom-10">
                  <i class="fa fa-twitter"></i> Sign up with Twitter
                </a>
                <a class="btn btn-block btn-social btn-google margin-bottom-10">
                  <i class="fa fa-google-plus"></i> Sign up with Google
                </a>
              </div>
            </div>
          </fieldset>
          <footer>
            <%= render "users/shared/links" %>
          </footer>
        </form>
      </div>
    </div>
  </div>
</section>
