<%= render 'breadcrumbs' %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<section>
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-4">
      <%= render 'left_sidebar' %>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8">
      <div class="box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
        <div class="front">
          <div class="box1 noradius">
            <div class="box-icon-title">
              <i class="fa fa-user"></i>
              <h2><%= @user.email %> &ndash; Profile</h2>
            </div>
          </div>
        </div>

        <!-- <div class="back">
          <div class="box2 noradius">
            <h4>WHO AM I?</h4>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
          </div>
        </div> -->
        <br />
      </div>

      <div class="box-light">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="box-inner">
              <h3>
                <!-- <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a> -->
                PARTICIPATIONS
              </h3>
              <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                <% @teams.each do |team| %>
                  <div class="clearfix margin-bottom-10">
                    <%= image_tag team.event.image_url.to_s, class: 'thumbnail pull-left', width: 60, height: 60 if team.event.image_url.present? %>
                    <h4 class="size-13 nomargin noborder nopadding"><%= link_to team.event.title, team.event %></h4>
                    <span class="size-11 text-muted"><%= team.event.start.to_formatted_s(:event_date) %> - <%= team.event.end.to_formatted_s(:event_date) %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="box-inner">
              <h3>
                <!-- <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a> -->
                FREEBIES
              </h3>
              <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                <% @items.reverse.each do |item| %>
                  <div class="clearfix margin-bottom-20">
                    <h4 class="size-15 nomargin noborder nopadding bold">
                      Received <%= item.name %>
                    </h4>
                    <span class="size-13 text-muted">
                      <%= time_ago_in_words(item.created_at) %> ago
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin-top-30">
          <div class="col-md-6 col-sm-6">
            <div class="box-inner">
              <h3>
                <!-- <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a> -->
                ATTENDANCES
              </h3>
              <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                <% @user.attendances.reverse.each do |attendance| %>
                  <div class="clearfix margin-bottom-20">
                    <h4 class="size-15 nomargin noborder nopadding bold">
                      <%= link_to attendance.event.title, event_url(attendance.event) %>
                    </h4>
                    <span class="size-13 text-muted">
                      <%= time_ago_in_words(attendance.created_at) %> ago
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="box-inner">
              <h3>
                <!-- <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a> -->
                TEAMS
              </h3>
              <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                <% @teams.each do |team| %>
                  <div class="clearfix margin-bottom-10">
                    <h4 class="size-13 nomargin noborder nopadding"><%= link_to team.name, team %></h4>
                    <span class="size-11 text-muted"><%= team.event.title %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
