<%= render 'breadcrumbs' %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<section>
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-4">
      <%= render 'left_sidebar' %>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8">
      <div class="box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
        <div class="front">
          <div class="box1 noradius">
            <div class="box-icon-title">
              <i class="fa fa-tasks"></i>
              <h2><%= @user.email %> &ndash; Projects</h2>
            </div>
            <br />
          </div>
        </div>
        <!--
        <div class="back">
          <div class="box2 noradius">
            <h4>WHO AM I?</h4>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
          </div>
        </div>
        -->
      </div>
      <% if @projects.empty? %>
        <div class="alert alert-bordered-dotted margin-bottom-30"><!-- DOTTED --></span>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><strong>No projects found</strong></h4>
          <p><%= @user.email %> had never been part of a team and therefore has no projects, please come back later.</p>
        </div>
      <% else %>
        <div class="box-light">
          <div class="box-inner">
            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"singleItem": false, "items":"1", "autoPlay": 3500, "navigation": true, "pagination": false}'>
              <% @projects.each do |project| %>
                <div class="img-hover" href="#">
                  <a href="blog-single-default.html">
                    <%= image_tag project.image_url.to_s, class: 'img-responsive', alt: 'Project image' %>
                  </a>
                  <h2 class="text-left margin-top-20 bold size-16 elipsis"><a href="blog-single-default.html"><%= project.name %></a></h2>
                  <p class="text-left"><%= project.description %></p>
                  <ul class="text-left size-12 list-inline list-separator nomargin">
                    <li>
                      <i class="fa fa-calendar"></i> 
                      <%= project.created_at %>
                    </li>
                    <li>
                      <a href="blog-single-default.html#comments">
                        <i class="fa fa-users"></i>
                        <%= project.team.members.count %>
                      </a>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <% @projects.each do |project| %>
              <div class="col-md-6 col-sm-6">
                <div class="box-inner margin-top-30">
                  <a href="#">
                    <%= image_tag project.image_url(:thumb).to_s, class: 'img-responsive', alt: 'Project image' %>
                  </a>
                  <h3 class="text-left margin-top-20 bold size-16 elipsis"><a href="#"><%= project.name %></a></h3>
                  <p class="text-left"><%= project.description %></p>
                  <ul class="text-left size-12 list-inline list-separator nomargin">
                    <li>
                      <i class="fa fa-calendar"></i> 
                      <%= project.created_at %>
                    </li>
                    <li>
                      <a href="blog-single-default.html#comments">
                        <i class="fa fa-users"></i> 
                          <%= project.team.members.count %>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
