<section id="slider" class="fullheight" style="background-image:url('<%= asset_path 'smarty/demo/video/back.jpg' %>');">
  <div class="overlay dark-3"></div>
  <div class="display-table">
    <div class="display-table-cell vertical-align-middle">
      <div class="container">
        <div class="row">
          <div class="text-center col-md-8 col-xs-12 col-md-offset-2">
            <h1 class="bold font-raleway wow fadeInUp" data-wow-delay="0.4s"><%= @event.title.upcase %></h1>
            <h6>STARTS IN</h6>
            <div class="countdown circle" data-from="<%= @event.start %>"></div>
            <a class="btn btn-default btn-lg fadeIn margin-top-40" href="/users/sign_up">REGISTER&nbsp;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="donotmiss">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="box-static box-border-top">
          <div class="box-title">
            <h4>Do Not Miss</h4>
          </div>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus.</p>
          <p><small>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis.</small></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
          <div class="front">
            <div class="box1" style="background-color:#a0ce4e;">
              <div class="box-icon-title">
                <i class="fa fa-refresh fa-spin"></i>
                <h2>Unique Experience</h2>
              </div>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
          <div class="back">
            <div class="box2" style="background-color:#a0ce4e;">
              <h4>Unique Experience</h4>
              <hr />
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
          <div class="front">
            <div class="box1" style="background-color:#cb9536;">
              <div class="box-icon-title">
                <i class="fa fa-map-marker"></i>
                <h2>Great Location</h2>
              </div>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
          <div class="back">
            <div class="box2" style="background-color:#cb9536;">
              <h4>Great Location</h4>
              <hr />
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
          <div class="front">
            <div class="box1" style="background-color:#73b9dc;">
              <div class="box-icon-title">
                <i class="fa fa-beer"></i>
                <h2>Free Beers</h2>
              </div>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
          <div class="back">
            <div class="box2" style="background-color:#73b9dc;">
              <h4>Free Beers</h4>
              <hr />
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="nopadding">
  <div class="container">
    <div class="text-center margin-top-30 margin-bottom-30">
      <div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": 3000,"navigation": false,"pagination": false}'>
        <% @sponsors.each do |sponsor| %>
          <div>
            <%= image_tag sponsor.image_url.to_s, class: 'img-responsive', alt: 'Company logo' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% if !latest_posts.empty? %>
  <section id="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-push-0 col-md-push-0 col-sm-push-0">
          <h2>Latest news</h2>
          <% latest_posts.each do |post| %>
            <div class="inews-item">
              <!--<a class="inews-thumbnail" href="#">
                <img class="img-responsive" src="<%= asset_path 'smarty/demo/thematics/music/a3-min.jpg' %>" alt="image" />
              </a>-->
              <div class="inews-item-content">
                <div class="inews-date-wrapper">
                  <span class="inews-date-day"><%= post.created_at.day %></span>
                  <span class="inews-date-month"><%= Date::MONTHNAMES[post.created_at.month] %></span>
                  <span class="inews-date-year"><%= post.created_at.year %></span>
                </div>
                <div class="inews-content-inner">
                  <h3 class="size-20"><%= link_to post.title, blog.post_path(post.id) %></h3>
                  <ul class="blog-post-info list-inline noborder margin-bottom-20 nopadding">
                    <li>
                      <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="font-lato"><%= post.blogger_display_name %></span>
                      </a>
                    </li>
                    <% if post.tag_list.count > 0 %>
                      <li>
                        <i class="fa fa-folder-open-o"></i>
                        <% post.tag_list.each do |tag| %>
                          <%= link_to blog.tagged_blog_posts_path(tag), class: "category" do %>
                            <span class="font-lato"><%= tag %></span>
                          <% end %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!--
        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
          <h3 class="margin-top-8">Twitter feed</h3>
          <ul class="widget-twitter margin-bottom-20" data-php="php/twitter/tweet.php" data-username="stepofweb" data-limit="3">
            <li></li>
          </ul>
        </div>
        -->
      </div>
    </div>
  </section>
<% end %>
