<section class="page-header page-header-xs">
  <div class="container">
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">Home</a></li>
      <li><a href="/mentors">Mentors</a></li>
    </ol>
  </div>
</section>
<section>
  <div class="container">
    <p class="lead">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
    <p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi.</p>
    <div class="row">
      <% @mentors.each do |mentor| %>
        <% if mentor.approved? %>
        <div class="col-md-3 col-sm-6">
          <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
            <div class="front">
              <div class="box1 box-default">
                <div class="box-icon-title">
                  <%= image_tag mentor.user.avatar, class: 'img-responsive' %>
                  <h2><%= mentor.user.first_name + ' ' + mentor.user.last_name %></h2>
                  <small><%= mentor.user.email %></small>
                </div>
              </div>
            </div>

            <div class="back">
              <div class="box2 box-default">
                <%= link_to profile_url(mentor.user) do %>
                  <h4 class="nomargin"><%= mentor.user.first_name + ' ' + mentor.user.last_name %></h4>
                  <small><%= mentor.user.email %></small>
                <% end %>
                <hr />
                <p><% if mentor.user.about_text != '' %>
                  <%= mentor.user.about_text %>
                <% else %>
                  <%= 'Mentor has not provided a description of himself.' %>
                <% end %></p>
                <hr />
                <%= link_to mentor.user.facebook_url, class: 'social-icon social-icon-sm social-facebook' do %>
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to mentor.user.twitter_url, class: 'social-icon social-icon-sm social-twitter' do %>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to mentor.user.site_url, class: 'social-icon social-icon-sm social-email3' do %>
                  <i class="icon-email3"></i>
                  <i class="iconr-email3"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
</section>

<div class="callout callout-theme-color">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>Want to be a mentor?</h3>
        <p>If so, click to join now!</p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Apply for mentorship', new_mentor_url, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
</div>r
