<%= form_for @project, :html => {:multipart => true} do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repository_url %><br>
    <%= f.text_field :repository_url %>
  </div>

  <p>
    <label>Project image</label>
    <%= image_tag @project.image_url if @project.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
