<%= form_for @project, html: { class: 'sky-form boxed', multipart: true } do |f| %>
  <header class="size-18 margin-bottom-20">
    Submit your project
  </header>
  <fieldset class="nomargin">
    <% if @project.errors.any? %>
      <p><%= pluralize(@project.errors.count, "error") %> occurred:</p>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <label class="input margin-bottom-10">
      <i class="ico-append fa fa-ticket"></i>
      <%= f.text_field :repository_url, autofocus: true, placeholder: 'Link to repository', required: true %>
      <b class="tooltip tooltip-bottom-right">Link to the project repository (GitHub, Bitbucket etc.)</b>
    </label>
    <label for="file" class="input input-file">
      <div class="button">
        <%= f.file_field :image, { id: 'file', onchange: 'this.parentNode.nextSibling.value = this.value' } %> Browse
      </div><input type="text" placeholder="Select project image" readonly>
    </label>
    <hr />
  </fieldset>
  <footer>
    <%= link_to projects_path, class: 'btn btn-danger noradius pull-right' do %>
      <i class="fa fa-ban"></i> Cancel
    <% end %>
    <%= f.button type: 'submit', class: 'btn btn-primary noradius pull-right' do %>
      <i class="fa fa-check"></i> Submit
    <% end %>
  </footer>
<% end %>
