<section class="page-header page-header-xs">
  <div class="container">
    <h1>Projects</h1>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/projects">Projects</a></li>
    </ol>

    <ul class="page-header-tabs list-inline mix-filter">
      <% @categories.each do |category| %>
        <% if category == @categories.first %>
          <li data-filter="<%= category.name %>" class="filter active"><a href="#"><%= category.name %></a></li>
        <% else %>
          <li data-filter="<%= category.name %>" class="filter"><a href="#"><%= category.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <div id="portfolio" class="portfolio-nogutter">
      <div class="row mix-grid">
        <% if @projects.empty? %>
          <div class="alert alert-bordered-dotted margin-bottom-30"><!-- DOTTED --></span>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><strong>No submitted projects found</strong></h4>
            <p>Either there's a hackathon running and no one submitted their projects or the system has been reset.</p>
          </div>
        <% else %>
          <% @projects.each do |project| %>
            <% project.categories.each do |category| %>
              <div class="col-md-3 col-sm-3 mix <%= category.name %>">
                <div class="item-box">
                  <figure>
                    <span class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">
                        <a class="ico-rounded lightbox" href="<%= project.image_url.to_s %>" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <a class="ico-rounded" href="<%= project_path(project) %>">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>
                      </span>
                    </span>
                    <%# width = 600 height = 399 %>
                    <%= image_tag project.image_url.to_s, class: 'img-responsive', alt: 'Project image' %>
                  </figure>

                  <div class="item-box-desc">
                    <h3><%= project.name %></h3>
                    <ul class="list-inline categories nomargin">
                      <% project.categories.each do |category| %>
                        <li><a href="#"><%= category.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
